#outside {
  background-image: linear-gradient(to right, green,blue,indigo,violet);
}

#outside-title {
  color: black;
  font-family: Verdana;
  font-size: 12pt;
  text-align: center;
}

#outside-pic {
  width: 200px;
  height: 200px;
}

#outside-help {
  color: #121212;
  font-family: Verdana;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
   background-image: linear-gradient(to bottom right, brown, #cacaca);
}

#inside-title {
  color: #000000;
  font-family: Verdana;
  font-size: 12pt;
  text-align: center;
}

#inside-pic {
  width: 200px;
  height: 200px;
}

#message {
  color: #121212;
  font-family: Verdana;
  font-size: 12pt;
  text-align: center;
}

button {
  background:#cacaca ;
}


/* ###############

Transition Animation 

Be careful changing the CSS below. It's what makes the card animation work!

##############    */

#outside {
  z-index: 1;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#inside {
  z-index: 0;
  position: absolute; 
  width: 100%;
  height: 100%;
  text-align: center;
}